fastapi
uvicorn
sqlalchemy
psycopg2-binary
pgvector
pydantic-settings
alembic
python-dotenv
passlib[bcrypt]
pyjwt
python-multipart
pdfplumber
fuzzywuzzy
python-Levenshtein
sentence-transformers
ollama
